.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-post h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.blog-post img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.contenido {
  color: #333;
  font-family: 'Roboto Condensed';
}

.contenido h2{
  font-size: 38px;
  line-height: 46px;
  color: black;
  margin-top: 50px;
}

.contenido h3{
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-top: 50px;
}

.contenido li{
  font-size: 22px;
  line-height: 28px;
  color: #333;
}

.contenido p{
  font-size: 22px;
  line-height: 28px;
}

.post-footer {
  margin-top: 50px;
  color: #555;
  font-size: 18px;
}