.contacto {
  width: 100%;
  padding: 60px 0px;  
}

.contacto__title {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.contacto__grid{
  width: 100%;
  background-image: linear-gradient(90deg,rgba(192, 0, 0, 0.7),rgba(0, 1, 30, 0.7)), url('/img/bg-contacto.webp');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 4px gray;
}

.contacto__box {
  max-width: 1320px; 
  margin: auto; 
  display: flex;
}

.contacto__box2 {
  display: flex;
  width: 100%;
  background: lightgrey;
  border-radius: 30px;
  box-shadow: 0px 2px 4px gray;
}

.cont-text{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-text h2{
    font-size: 70px;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.cont-text hr{
  width: 300px;
  height: 2px;
  background-color: #c00000;
  border-color: #c00000;
  margin-left: 0;
  margin-top: 10px;
}

.cont-text p{
    color: white;
}

.cont-formulario{
    width: 50%;
    margin: 80px auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__form input,
.contact__form textarea {
  width: 95%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 2px 2px 1px rgba(37, 37, 37, 0.568);  
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border-color: #000;
} 

.contact__form button {
    width: 100%;
  margin-top: 10px;
  padding: 14px;
  background: #c00000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 2px 2px 1px rgba(37, 37, 37, 0.568);
}

.contact__form button:hover {
  background: #00011e;
}

.contact__form small {
  color: red;
  font-size: 12px;
}
.status{
  background-color: rgba(0, 161, 27, 0.623);
  font-size: 20px;
  color: whitesmoke;
  padding: 10px;
  width: 96%;
  text-align: center;
  border-radius: 8px;
}

.content-map{
  width: 100%;
}

.map{
  width: 99%;
  height: 500px;
  margin: auto;
}



@media (max-width: 767px) {
  .contact__container {
    padding: 25px;
  }

  .contact__title {
    font-size: 26px;
  }
}