@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Playfair-Bold.woff2') format('woff2'),
       url('/fonts/Playfair-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.woff2') format('woff2'),
       url('/fonts/Roboto.woff') format('woff');
}


body {
  margin: 0;
  padding: 0;
  background: 
      linear-gradient(135deg,#0000 20.5%,#e3e3e3 0 29.5%,#0000 0) 0 6px,
      linear-gradient( 45deg,#0000 8%,#e3e3e3 0 17%, #0000 0 58%) 12px 0,
      linear-gradient(135deg,#0000 8%,#e3e3e3 0 17%, #0000 0 58%,#e3e3e3 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#e3e3e3 0 17%, #0000 0 58%,#e3e3e3 0 67%,#0000 0 83%,#e3e3e3 0 92%,#0000 0),
      #eeebeb;
  background-size: 24px 24px;
}

h1,h2,h3{
  font-family: 'Playfair';
  text-shadow: 2px 2px 1px lightgrey;
}

h2{
  font-size: 70px;
}



p{
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 38px;
}

.solo-desktop{
  display: block;
}
.solo-mobile{
  display: none;
}


@media (max-width: 768px) {
  .solo-desktop {
    display: none;
  }
  .solo-mobile{
    display: block;
  }
}