/* Header general */
.site-header {
  background: #00011e;
  padding: 20px 30px;
  box-shadow: 0px 2px 4px rgba(255, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.logo-link img {
  height: 50px;
  width: 100%;
}

/* Menú principal desktop */
.menu {
  display: flex;
  gap: 30px;
}

.menu__item {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-family: 'Playfair Display';
  font-size: 22px;
}

.menu__item:hover {
  color: #c00000;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #f5f5f5;
  border-radius: 2px;
  transition: 0.3s;
  margin-right: 40px;
}

/* Animación del hamburger cuando está activo */
.hamburger.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive móvil */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 45px;
    background: #00011e;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 5px;
    display: none;
    width: 90%;
    right: 20px;
  }

  .menu.menu--open {
    display: flex;
  }

  .logo-link img {
    height: 30px;
    width: auto;
  }
}

