.two-cols {
  display: flex;
  align-items: center;        /* centra verticalmente */
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  width: 1320px;
  margin: auto;
}
.column {
  flex: 0 0 47%;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.column h3{
  font-size: 55px;
  line-height: 58px;
  margin-bottom: 20px;
  margin-top: 0;
}
.column p{
  margin-top: 0px;
}
.modelo-3d{
  width: 100%;
  height: 450px;
  display: block;
}