.blogs-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.blogs-title {
  font-size: 70px;
  font-weight: bold;
  margin-top: 110px;
  margin-bottom: 30px;
  text-align: center;
}

.blogs-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-card {
  display: flex;
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
  transition: box-shadow 0.2s ease;
  background-color: #f5f5f5;
  gap:30px;
  margin-bottom: 30px;
}

.blog-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.blog-image {
  width: 50%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.cont-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-title {
  font-size: 40px;
  line-height: 44px;
  margin: 10px 0;
}

.blog-excerpt {
  color: #555;
  font-size: 18px;
  line-height: 22px;
}
